<form class="box" action="/event/addevent" method="POST">
    <div class="field">
        <label class="label">Please add an Upcoming Event ! </label>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder=" Name" name="name">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder=" Details" name="details">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder=" Price" name="price">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder=" Date" name="date">
            </div>
            </div>
        </div>
    </div>
            <button class="button is-link is-light">Add Event</button>
</form>

