<form action="/review" method="POST">
    <div class="field">
        <label class="label"> Enter your Review</label> <input class="input" type="text" placeholder="Enter your review" name="review">
    </div>
    <div class="stars">
        <div class="field">
        <label class="label"> Enter your Rating</label>
        </div>
        <form action="">
            <input type="radio" name="rating" value=5> 5 </label>
            <input type="radio" name="rating" value=4> 4 </label>
            <input type="radio" name="rating" value=3> 3 </label>
            <input type="radio" name="rating" value=2> 2 </label>
            <input type="radio" name="rating" value=1> 1 </label>
        </form>
        <div class="rating">
    </div>
        <div class="field">
            <label class="label"> Select trail your reviewing! </label>
        </div>
    <div class="select">
        <select name="trail">
            {{#each trails }}
                <option> {{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link is-light">Submit Review</button>
        </div>
    </div>
</form>


.