<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Traillists of Ireland" subTitle="Traillists"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>

<section class="section">
    {{> list-traillists}}
    {{> add-traillist}}
</section>