<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Traillis of Ireland" subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="400" src="images/hikes.jpg"/>
  </div>
  <div class="column">
    <h1 class="title">Traillists of Ireland</h1>
    <p>Signup or Log in to explore the Traillists of Ireland !</p>
  </div>
</div>
