<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Traillists of Ireland" subTitle="Please write a review of a Trail!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column has-text-centered">
      <img width="400" src="images/hikes.jpg"/>
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Please write a Review!</h1>
    {{> ReviewForm }}
  </div>
</div>

